<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body>

  <div id="content" style="border-top:1px solid rgb(189, 189, 189); border-left:1px solid rgb(189, 189, 189); border-right:1px solid rgb(189, 189, 189); z-index:100;">
      <div style="text-align:center;"><img style="width:100px;height:100px;left:50%; " src ="../static/image/logo.png"/></div>
      <a class="list" href="/search" style=" text-align:center; border-bottom:1px solid rgb(189, 189, 189); border-top:1px solid rgb(189, 189, 189);"><div >애플리케이션</div></a>
      <a class="list" href="/search"><div>대쉬보드</div></a>
      <a class="list" href="/search2" ><div>컨텐츠 관리</div></a>
      <a class="list" href="/search4" ><div>사용자 관리</div></a>
      <a class="list" href="" ><div>기본 설정</div></a>
      <a class="list" href="" ><div>결제현황</div></a>
      <a class="list"  ><div style="margin-left:-1px; position:absolute;width:380px; border-left:1px solid rgb(189, 189, 189); border-right:1px solid rgb(189, 189, 189); height:100%; padding:10px;" > <br></div></a>
  </div>
  <div style="position:fixed; margin-left:410px; width : calc(100% - 430px); text-align:center; z-index:100; background-color:white; border:1px solid rgb(189, 189, 189);border-bottom:30px solid rgb(189, 189, 189);">
      <div><img style="left:50%;width:100px;height:106px; " src ="../static/image/logo.png"/></div>
  </div>
  <div id="body">

      <div class="bodyCon">
          대쉬보드
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
  </div>




<script>

</script>



</body>
</html>