<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body>

<img style="position:relative;left:50%;margin-left:-50px;width:100px;heigh:100px;" src ="../static/image/logo.png"/>


  <div id="content">
      <div><a class="list" id="selec" href="/search">Main</a></div>
      <div><a class="list" href="/search2" >video</a></div>
      <div><a class="list" href="/search3" >keyword</a></div>
  </div>

  <div>
    <ol  id="listContainer">
        <li class = "listItem">
            <div class="itemName">


            </div>

        </li>
    </ol>
  </div>





<script>
    getVideoList();
</script>



</body>
</html>