<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js?v={{v}}"></script>
    <link rel="stylesheet" href="../static/css/main.css?v={{v}}" />
</head>
<body>

  <div id="content" style="border-top:1px solid rgb(189, 189, 189); border-left:1px solid rgb(189, 189, 189); border-right:1px solid rgb(189, 189, 189); z-index:100;">
      <div style="text-align:center;"><img style="width:100px;height:100px;left:50%; " src ="../static/image/logo.png"/></div>
      <a class="list" href="/search" style=" text-align:center; border-bottom:1px solid rgb(189, 189, 189); border-top:1px solid rgb(189, 189, 189);"><div >애플리케이션</div></a>
      <a class="list" href="/search"><div>대쉬보드</div></a>
      <a class="list" href="/search2" ><div>컨텐츠 관리</div></a>
      <a class="list" href="/search4" ><div>사용자 관리</div></a>
      <a class="list" href="" ><div>기본 설정</div></a>
      <a class="list" href="" ><div>결제현황</div></a>
      <a class="list"  ><div style="margin-left:-1px; position:absolute;width:380px; border-left:1px solid rgb(189, 189, 189); border-right:1px solid rgb(189, 189, 189); height:100%; padding:10px;" > <br></div></a>
  </div>
  <div style="position:fixed; margin-left:410px; width : calc(100% - 430px); text-align:center; z-index:100; background-color:white; border:1px solid rgb(189, 189, 189);border-bottom:30px solid rgb(189, 189, 189);">
      <div><img style="left:50%;width:100px;height:106px; " src ="../static/image/logo.png"/></div>
  </div>
  <div id="body">


      <div class="bodyCon">
          <div style="border-bottom:1px solid rgb(189, 189, 189);text-align:center;">
              CONTENTS
          </div>
          <div style="text-align:center;">
              <a href="/search2">생성</a>
              <a href="/search3">관리</a>
          </div>
          <div style="background-color:rgb(220, 220, 220); font-size:20px; text-align:left;padding: 15px; ">
              콘텐츠 생성
          </div>

                        <div class="dot">
                <div class="in1"> 콘텐츠명 </div>
                <div class="in2">  <input type="text" name="text" id="text"placeholder=" 콘텐츠 명을 입력하세요.">
                <label for="text">!콘텐츠 명을 적어주세요</label>
                </div>
              </div >

              <div class="dot" >
                <div class="in1" style="padding:0px;">소개                </div>
                <div class="in2">  <input type="text" style=" width:100%;resize: none;" rows="5" name="imform" id="imform"placeholder=" 콘텐츠 소개글." ></input>
                <label for="imform"> ! 간략한 소개글을 입력하세요.</label>
                </div>
              </div>

          <div class="dot">
                  <div class="in1">    포스터 업로드  </div>
                 <div class="in2" style="text-align:left;">
                 <form name="form" id="postupload" enctype="multipart/form-data" method="post">
                     <label for="poster" style="width:100%; text-align:left"> 포스터 선택</label>
                     <input type="file" name="poster" id="poster" style="width:70%;" >
                 <input type="button" value="포스터 업로드" onclick="testajax4();" style="width:100px; height:40px;"/>
                 </form>
                 </div>
              </div>
          
              <div class="dot" style="border:0px">
                <div class="in1">   표지이미지  </div>

                <div class="in2" style="border-bottom: 4px dotted rgb(189, 189, 189); text-align:left;">
                   <form name="form" id="fileUploadForm1" enctype="multipart/form-data" method="post">
                    <label for="thumbname" style="color:red; "> ! 완성된 표지 이미지를 업로드하세요.</label>
                    <input type="file" name="thumbname" id="thumbname" style="width:70%;" >
                    <input type="button" value="사진 업로드" onclick="testajax3();" style="width:100px; height:40px;"/>
                 </form>
                </div>
              </div>
              <div class="dot">
                <div class="in1">    </div>
                <div class="in2">
                    <label for="thumbtext" > 표지제목  </label>
                    <input type="text" name="thumbtext" id="thumbtext"placeholder="표지 제목을 입력하세요."></div>

              </div>
              <div class="dot">
                  <div class="in1">    파일업로드  </div>
                 <div class="in2" style="text-align:left;">
                 <form name="form" id="fileUploadForm" enctype="multipart/form-data" method="post">
                     <label for="link" style="width:100%; text-align:left"> 파일 선택</label>
                     <input type="file" name="link" id="link" style="width:70%;" >
                 <input type="button" value="영상 업로드" onclick="testajax2();" style="width:100px; height:40px;"/>
                 </form>
                 </div>
              </div>
              <div class="dot">
                  <div class="in1">그룹 선택 </div>
                  <div class="in2" > <select name="keyword"  id="combo1" name="1" style="float:left;">
                      <option class="combo2" name="0" selected="selected">그룹선택</option>

                  </select></div>

              </div>
             <div class="dot">
                  <div class="in1">공개여부               </div>
                  <div class="in2">
            <input type="radio" name="ID" value="1"   style="float:left; width:20px;margin:10px;" > <label style="margin-top:10px;">공개</label>
            <input type="radio" name="ID" value="0" checked="checked" style="float:left; width:20px;margin:10px;"><label style="margin-top:10px;">비공개</label>
                  </div>
             </div>
             <div class="dot">
                  <div class="in1">VR여부               </div>
                  <div class="in2">
            <input type="radio" name="vrId" value="1"   style="float:left; width:20px;margin:10px;" > <label style="margin-top:10px;">vr 사용</label>
            <input type="radio" name="vrId" value="0" checked="checked" style="float:left; width:20px;margin:10px;"><label style="margin-top:10px;">vr 미사용</label>

                  </div>
             </div>

        <div style="text-align:right;">

               <input type="button" value="확인" onclick="testajax1();" style="width:150px; height:50px"/>



              </div>




  </div>

  </div>

<script>
    comboList({{keywordlist|safe}});
</script>

</body>
</html>